.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-list {
    justify-content: flex-end;
}

.navbar-item {
    padding: 0 10px;
}

.header-text{
    margin: 20px;
    text-align: center;
    font-size: 20px;
}

.pay-header{
    margin-top: 50px;
    margin-bottom: 10px;
}